/* Home page styling */
body{
	background-color: grey;
	color: white;
	overflow-x: hidden;
	font-family: sans-serif;
	
}

.Header{
	background-color: black;
	color: white;
	border: 2px solid yellow;
	padding: 5%;
	position: relative;
	
}

h2{
	text-align: center;
	margin: 0 auto;
}

.navBar{
	width: 70%;
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

.navBar ul{
	display: flex;
	justify-content: space-between;
}

.navBar li{
    display:inline;
	padding: 0 10px;
}
.navBar a{
    display:inline-block;
}

.headerimg{
	position: absolute;
	width: 15%;
	top: 13%;
}

.leftLogo{
	left: 1%;
}

.rightLogo{
	right: 1%;
}

.PageBody{
	background-color: black;
	color: white;
	border: 2px solid yellow;
}

.description{
	text-align: center;
	font-style: oblique;
	margin: 60px 0;
}

.tickers{
	position: absolute;
	width: 50%;
	left: 68%;
	height: 60%;
	
}

.videos{
    width: 90%;
margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
    justify-items: center;
}

.videos img{
    margin: 20px;
    width: 400px;
}

.footer{
	margin: auto;
	width: 90%;
	color: white;
	padding: 20px;
	
}

a{
	color: white;
}

/* End of Home page styling */