body{
	background-color: grey;
	color: white;
	
	
}

.Header{
	background-color: black;
	color: white;
	border: 2px solid yellow;
	padding: 9%;
	position: relative;
	
}

h2{
	position: absolute;
	margin: auto;
	margin-top: -3%;
	width: 40%;
	left: 30%;
	right: 0%;
	
}

.navBar{
	position: absolute;
	margin: auto;
	width: 70%;
	left: 22%;
}

.leftLogo{
	position: absolute;
	width: 15%;
	height: 70%;
	left: 1%;
	top: 13%;
}

.rightLogo{
	position: absolute;
	width: 15%;
	height: 70%;
	right: 1%;
	top: 13%;
}

.PageBody{
	background-color: black;
	color: white;
	border: 2px solid yellow;
	padding: 40%;
	position: relative;
}







.footer{
	margin: auto;
	width: 90%;
	color: white;
	padding: 20px;
	
}

a{
	color: white;
}